* {
  font-family: 'Montserrat', sans-serif;
}

body h1 {
  font-size: 75px;
  color: whitesmoke;
  font-weight: bolder;
  margin: 1vw 1vw;
  
}

body {
  margin: 0;

  }

html * {

  font-family: 'Montserrat', sans-serif;
}

    .card {
      margin: auto;
        margin-bottom: 0;
        padding: auto;
        width: 75vw;
        border: none !important;
    }
      .container {
        padding: 2px 16px;
      }
.card * {
  text-align: center;
}
/****** Contact sections ****/  


.form-container {
    background-color: #ff9f1c;
    width: 55vw;
    margin: auto;
    padding: 50px;
    border-radius: 1em;
    box-shadow: 0 0 15px rgba(0,0,0,.25);
 
 }

 
 form .textarea {
     resize: none;
     display: inline-block;
     align-items: right;
     width: 200px;
     position:relative;
     left: 15px;

 }
 
 .submitbtn{
    margin: 0 auto;
 }
 .submitbtnour{
  color: black !important;
  background-color: #F18F06 !important;
  border: none !important;
 }

 .container h3 {
   margin-bottom: 30px;
 }

 .bereikbaarheid {
   padding-top: 10px;
 }

 .contact-links {
   color: black;
 }

 .contact-links:hover {
   text-decoration: none;
   color: black;
 }

 .map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin: 50px 0px;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:75%;
  position:absolute;
}

.footer {
  position: relative;
  left: -12vw;
  bottom: 0;
  width: 112vw;
  background-color: #FFE66D;
  color: white;
  text-align: center;
  height: auto;
  padding: 1vw;
  margin-top: 0;
  font-size: 50px;
}
.footer a{
  color: #ff6b6b;
}

.footer a:hover{
  color: #ff6b6b;
}

.img {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
}

.card p{
  margin: auto;
}

.card h2{
  margin: auto;
}

#home{
  width: 40vw;
  margin: auto;
}
#playgroundtop {
  padding: auto;
}

.parallax { 
  /* The image used */
  background-image: url("./images/Header.jpg");

  /* Set a specific height */
  height: 450px; 


  /* Create the parallax scrolling effect */
  margin-top: 5vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.parallax2 { 
  /* The image used */
  background-image: url("./images/header2.jpg");

  /* Set a specific height */
  height: 450px; 


  /* Create the parallax scrolling effect */
  margin-top: 5vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.parallax3 { 
  /* The image used */
  background-image: url("./images/city.jpg");

  /* Set a specific height */
  height: 450px; 


  /* Create the parallax scrolling effect */
  margin-top: 5vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.parallax4 { 
  /* The image used */
  background-image: url("./images/post.jpg");

  /* Set a specific height */
  height: 450px; 


  /* Create the parallax scrolling effect */
  margin-top: 5vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.parallax5 { 
  /* The image used */
  background-image: url("./images/food.jpg");

  /* Set a specific height */
  height: 450px; 


  /* Create the parallax scrolling effect */
  margin-top: 5vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}

nav.red {
  background: #FFE66D;
  height: 90px;
  padding: 10px 50px;
}

nav .logo {
  float: left;
}

nav .logo img {
  height: 200px;
  width: 100%;
  transition: 0.5s;
}

nav.red .logo img {
  height: 110px;
  width: 100%;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 80px;
  color: #262626;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

nav ul li a.active,
nav ul li a:hover {
  color: #fff;
  background: #ff6b6b;
}

section.sec1 {
  width: 100%;
  height: 100vh;
  background: url(../img/bg1.jpg);
  background-size: cover;
}

section.sec2 {
  width: 100%;
  height: 100vh;
  background: url(../img/bg2.jpg);
  background-size: cover;
}

section.sec3 {
  width: 100%;
  height: 100vh;
  background: url(../img/bg3.jpg);
  background-size: cover;
}

section.content {
  padding: 100px;
}

section.content h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
}

section.content p {
  margin: 20px 0 0;
  padding: 0;
  font-size: 1.1em;
}

.responsive-bar {
  display: none;
}

@media (max-width: 900px) {
  .responsive-bar {
    display: block;
    width: 100%;
    height: 60px;
    background: #FFE66D;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 20px;
    box-sizing: border-box;

  }

  .responsive-bar .logo img {
    float: left;
  }

  .responsive-bar .hamburger {
    width: 40px;
    height: 3px;
    background: #fff;
    position: relative;
    float: right;
    top: 20px;
    border: 1px solid #FFF;
    border-radius: 10%;
  }
 
.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 10%;
} 

.hamburger:before {
    top: -12px;
    left: -1px;
}

.hamburger:after {
    top: 12px;
    left: -1px;
} 

.icon.active .hamburger {
    background: #FFE66D;
    border: 0;
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

  .responsive-bar .menu {
    float: right;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 50px;
    cursor: pointer;
    text-transform: uppercase;
  }

  nav,
  nav.red {
    background: #FFE66D;
    height: 65px;
    padding: 0;
  }

  nav .logo {
    display: none;
  }

  nav ul {
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    background: #c12222;
    float: none;
    display: none;
  }

  nav ul.active {
    display: block;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    line-height: 30px !important;
    color: #fff;
  }
}
#transp li{
  list-style: none;
}