body {margin: 0;
    background: url("./images/background.jpg");
  }

ul.topnav {
width: 100vw;
  list-style-type: none;
  margin: auto;
  padding: 0 20vw;
  overflow: hidden;
  background-color: #C12222;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

ul.topnav li a:hover:not(.active) {background-color: #F18F06;}

ul.topnav li a.active {background-color: #F18F06;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 75vw;
        margin: auto;
        padding: 2vw;
      }
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      .container {
        padding: 2px 16px;
      }
      
/****** Contact sections ****/  


.form-container {
    background-color: yellow;
    width: 55%;
    margin: 50px 50px 50px 0;
    padding: 50px;
    border-radius: 1em;
    box-shadow: 0 0 15px rgba(0,0,0,.25);
 
 }
 
 .textarea {
     resize: none;
     display: inline-block;
     align-items: right;
     width: 200px;
     position:relative;
     left: 15px;
 
 }
 
 .submitbtn{
    margin: 0 auto;
    
 }
 
 